extends layout 

block content 
    .content__alignCenter
        form.loginForm(action='users/login', method='post', onsubmit='event.preventDefault(); onSubmit(this);')
            .loginForm__header 
                h1.loginForm__header__title Log in
                p.loginForm__header__subtitle Please enter your username and password
            .loginForm__body
                .loginForm__body__formGroup
                    label.loginForm__body__formGroup__label Username
                    input.loginForm__body__formGroup__input(type='text', name='username', placeholder='Username')
                .loginForm__body__formGroup
                    label.loginForm__body__formGroup__label Password
                    input.loginForm__body__formGroup__input(type='password', name='password', placeholder='Password')
            .loginForm__footer
                p.loginForm__footer__link--left 
                    a.loginForm__footer__link(href='/register') Register
                    a.loginForm__footer__link(href='/forgot') Forgot password
                input.loginForm__footer__button#loginSubmitButton(type='submit', value='Log in')
    
    script.
        async function onSubmit(form) {
            console.log('submit')
            const loginSubmitButton = document.getElementById('loginSubmitButton')
            loginSubmitButton.disabled = true
            const data = {
                username: form.username.value,
                password: form.password.value
            }
            const response = await fetchPost('/users/login', data)
            console.log('response', response)
            if (response.status === 'success') {
                setCookie('jwt', response.data.token, 60)
                window.location.href = '/'
            } else {
                loginSubmitButton.disabled = false
                alert(response.message)
            }
        }

        async function fetchPost(link, data) {
            const response = await fetch(link, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            const json = await response.json()
            return json
        }

        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays*24*60*60*1000));
            var expires = "expires="+ d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }