:root {
  --color-primary: #00a0e9;
  --color-secondary: #eaeaea;
  --color-tertiary: #222222;
  --color-black: #000;
  --color-white: #fff;
  --color-gray: #ccc;
  --color-gray-dark: #999;
  --color-gray-light: #eee;
  --color-error: #d0021b;
  --color-success: #34ce16;
  --color-warning: #f5a623;
  --color-gray-darker: #333;

  --border: 1px solid var(--color-gray);
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: var(--color-primary);
}

.content__alignCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.chatbox {
  width: 500px;
  border: var(--border);
  background: var(--color-white);
}

.chatbox__header {
  padding-inline: 32px;
  border-bottom: var(--border);
  background: var(--color-gray-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatbox__header__title {
  font-size: 32px;
  font-weight: bold;
  color: var(--color-gray-darker);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatbox__header__title--aside {
  font-weight: lighter;
}

.chatbox__body {
  padding: 10px;
  overflow: auto;
  height: 500px;
}

.chatbox__body__chatBubble {
  display: inline-block;
  padding: 4px 16px;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 80%;
  word-wrap: break-word;
  background-color: var(--color-primary);
}

.chatbox__body__chatBubble__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--border);
}

.chatbox__body__chatBubble__header__title {
  font-size: 20px;
  font-weight: bold;
  color: var(--color-gray-darker);
  line-height: 0.5;
}

.chatbox__body__chatBubble__header__title--aside {
  font-weight: lighter;
}

.chatbox__body__chatBubble__body__message {
  font-size: 16px;
  color: #333;
}

.chatbox__footer {
  padding: 10px;
  border-top: var(--border);
  background: var(--color-gray-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatbox__footer__input {
  width: calc(100% - 20px);
  border: var(--border);
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  color: var(--color-gray-darker);
}

.chatbox__footer__button {
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  height: 20px;
}

.chatbox__footer__button:hover {
  filter: brightness(1.5);
}

.chatbox__body__chatBubble--right {
  float: right;
}

.chatbox__body__chatBubble--left {
  float: left;
}

.capitalize {
  text-transform: capitalize;
}

.loginForm {
  width: 500px;
  border: var(--border);
  background: var(--color-gray);
  border-radius: 15px;
  box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.25);
}

.loginForm__header {
  padding-inline: 32px;
  border-bottom: var(--border);
}

.loginForm__header__title {
  font-size: 32px;
  font-weight: bold;
  color: var(--color-gray-darker);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loginForm__header__subtitle {
  font-size: 20px;
  font-weight: lighter;
  color: var(--color-gray-darker);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loginForm__body {
  padding: 10px;
  background-color: var(--color-white);
}

.loginForm__body__formGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding-block: 16px;
}

.loginForm__body__formGroup__label {
  font-size: 20px;
  font-weight: bold;
  color: var(--color-gray-darker);
  line-height: 0.5;
}

.loginForm__body__formGroup__input {
  width: 300px;
  border: var(--border);
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  color: var(--color-gray-darker);
}

.loginForm__footer__button {
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  background-color: var(--color-success);
  width: 150px;
}

.loginForm__footer__button:hover {
  filter: brightness(1.5);
}

.loginForm__footer {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-white);
  border-radius: 0 0 15px 15px;
}

.loginForm__footer__link {
  font-size: 14px;
  font-weight: lighter;
  color: var(--color-gray-darker);
  cursor: pointer;
  padding: 8px 16px;
  text-decoration: none;
}

.loginForm__footer__link--right {
  float: right;
}

.loginForm__footer__link--left {
  float: left;
}

.loginForm__footer__link:hover {
  border-bottom: 1px solid var(--color-primary);
}
